@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
}

.container {
    display: flex;
    width: 600px;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ced4da;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background-color: #566472;
    border: 2px solid #ced4da;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #566472;
}



.box-input-user {
    position: relative;
    padding: 30px 0px;
    background-color: #9a61ff;
    text-align: center;
    border: 5px solid #EEE;
}

.box-input-user .input-user {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff85;
    color: #607D8B;
    font-size: 18px;
    font-family: inherit;
    transform: scaleX(1);
    transition: box-shadow .2s ease-in, transform .2s ease-in;
}

.box-input-user .input-user:hover, .box-input-user .input-user:focus {
    box-shadow: 0px 0px 20px #673AB7;
}

.box-input-user .input-user:focus {
    transform: scaleX(1.2);
}

.box-input-user .input-user:focus, .box-input-user .add-user:focus {
    outline: none;
    border: none;
}

.box-input-user .add-user {
    position: absolute;
    left: 360px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 35px;
    height: 35px;
    padding: 4px;
    border: none;
    border-radius: 50%;
    background-color: #a878ff;
    color: #3F51B5;
    font-size: 15px;
    cursor: pointer;
    transition: transform .2s ease-in;
    box-shadow: 0px 0px 20px #673AB7;
}

.box-input-user .add-user:hover {
    transform: translateY(-50%) rotate(180deg);
}

.users-box {
    width: 100%;
    background-color: #eee;
    height: 300px;
    overflow-y: auto;
    border: 10px solid #eee;
    text-align: center;
}

.users-box .user-box {
    display: flex;
    width: 80%;
    height: 46px;
    padding: 10px;
    background-color: #e5e5e5;
    margin: 30px auto;
    box-shadow: 0px 0px 10px #c0c0c0;
    border-radius: 10px;
    overflow: hidden;
}

.users-box .user-box .user-info {
    cursor: default;
    user-select: none;
}

.users-box .user-box .user-info.line-through {
    text-decoration: line-through;
}

.users-box .user-box .user-info::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #a7b4ff transparent transparent transparent;
}


.users-box .user-box .delete-user {
    display: block;
    margin-left: auto;
    background-color: #E91E63;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.box-tasks-status {
    display: flex;
    padding: 10px;
}

.box-tasks-status .tasks-count, .box-tasks-status .completed-count {
    display: block;
}

.box-tasks-status .completed-count {
    margin-left: auto;
}

.box-tasks-status .tasks-count .count {
    background-color: rgb(255, 191, 71);
    padding: 4px;
    font-size: 8px;
}

.box-tasks-status .completed-count .count {
    background-color: rgb(71, 255, 224);
    padding: 4px;
    font-size: 8px;
}