body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 600px;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

.point {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    animation: point-ani 1.5s ease-in-out infinite both;
}

@keyframes point-ani {
    0%, 100% {
        width: 20px;
        margin-left: -80px;
    }

    30%, 80% {
        width: 30px;
        margin-left: 0px;
    }

    50% {
        width: 20px;
        margin-left: 80px;
    }

}