body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 600px;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

.point {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    animation: point-ani 2.8s cubic-bezier(.23,.68,.43,.62) infinite both;
}

@keyframes point-ani {
    0%, 100% {
        width: 40px;
        margin-left: -180px;
    }

    30%, 80% {
        width: 60px;
        margin-left: 0px;
    }

    50% {
        width: 40px;
        margin-left: 180px;
    }

}