.maincontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 98%;
  height: 100%;
  margin: 0px auto;
}

/* -------------------------------- */

@media (min-width: 1400px) {
  .maincontainer {
    width: 1000px;
  }
}

.mainheader {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 0 15px 0 15px;
}

.minchatbox {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 85%;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  position: relative;
}

.thuuserschatbox {
  width: 30%;
  overflow-y: scroll;
}

.userchatbox {
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  background-color: transparent;
  cursor: pointer;
}
.userchatbox:hover {
  background-color: #eeeeee81;
}

.userchatbox[data-Selected-to-send="true"] {
  background-color: #eeeeee81;
}

.userchatbox[data-Selected-to-send="false"] {
  background-color: transparent;
}

.userprofileimg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #dddddd;
}
.userprofilename {
  margin-left: 10px;
}

.thuchatbox {
  width: 70%;
  border-left: 1px solid #f1f1f1;
  overflow-y: scroll;
}

.thuchatbox .chatbox {
  padding: 10px 10px 70.797px 10px;
  font-family: "PT Sans", sans-serif;
}

.thuchatbox .chatbox .chatboxcontent {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: max-content;
}
.thuchatbox .chatbox .chatboxcontent.fromm {
  margin-left: auto;
  background: linear-gradient(90deg, #bbc6ff 20%, #ffcbcb 70%);
}
.thuchatbox .chatbox .chatboxcontent.fromh {
  margin-right: auto;
  background: linear-gradient(90deg, #bbc6ff 20%, #cacaca 70%);
}
.bn-send-m {
  background-color: #ffffff00;
  color: #c5c5c5;
  position: absolute;
  border-radius: 50%;
  border: unset;
  right: 5px;
  top: 50%;
  transform: translateY(-67%);
}

#showusersinplat {
  overflow-y: scroll;
}
