* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    height: max-content;
    margin: 10px auto;
    position: relative;
    width: 500px;
    margin: 0px auto;
}

@media (max-width: 500px) {
    .slider-container {
        width: 95%;
    }
}

.slider-container .slider-imgs {
    display: flex;
    overflow: hidden;
}

.slider-container .slider-info {
    position: absolute; 
    left: 10px;
    top: 10px;
    background-color: #00000020;
    color: white;
    padding: 6px 10px;
    font-size: 12px;
    z-index: 100;
    border-radius: 6px;
}

.slider-container .slider-imgs > img {
    width: 100%;
}

.slider-container .slider-imgs .slices-imgs {
    display: flex;
    position: relative;
    overflow: visible;
}

.slider-container .slider-imgs .slices-imgs img {
    position: absolute;
    left: 0px;
    transition: left 1s ease-in-out;
    z-index: 1;
}

.slider-container .slider-imgs .slices-imgs img.active {
    z-index: 2;
}

.slider-container .slider-control {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.slider-control .indicators {
    width: 60%;
    float: left;
}

.slider-control .indicators ul {
    list-style: none;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.slider-control .indicators ul li {
    display: inline-block;
    background-color: #ffffff70;
    color: #303030a9;
    height: 6px;
    width: 36px;
    border-radius: 6px;
    margin: 0 6px;
    line-height: 28px;
    cursor: pointer;
    transition: background-color, transform 1s, .2s ease-out;
}

.slider-control .indicators ul li.active {
    background-color: #ffffff;
    color: white;
    transform: scale(1.1);
}

.slider-container .navigation-bn {
    z-index: 100;
    position: absolute;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.slider-container .navigation-bn .next, .slider-container .navigation-bn .prev {
    background-color: #ffffff40;
    color: white;
    text-align: center;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    user-select: none;
}

.position-right {
    right: 0px;
}

.position-left {
    left: 0px;
}